<cluster config_version="8" name="{{ cluster_name }}">
  <clusternodes>
    <clusternode name="{{ Node1_name }}" nodeid="1">
      <fence>
        <method name="Method01">
          <device name="{{ fence_HA1_name }}" />
        </method>
      </fence>
    </clusternode>
    <clusternode name="{{ Node2_name }}" nodeid="2">
      <fence>
        <method name="Method02">
          <device name="{{ fence_HA2_name }}" />
        </method>
      </fence>
  <cman expected_votes="1" two_node="1"/>
  <fencedevices>
    <fencedevice agent="{{ fence_mode }}" ipaddr="{{ fence_HA1_ip }}" login="{{ fence_user }}" name="{{ fence_HA1_name }}" passwd="{{ fence_passwd }}"/>
    <fencedevice agent="{{ fence_mode }}" ipaddr="{{ fence_HA2_ip }}" login="{{ fence_user }}" name="{{ fence_HA2_name }}" passwd="{{ fence_pdmin123 }}"/>
  </fencedevices>
  <rm>
    <failoverdomains>
      <failoverdomain name="{{ failoverdomain_name }}" nofailback="1" ordered="1">
        <failoverdomainnode name="{{ Node1_name }}" priority="1"/>
        <failoverdomainnode name="{{ Node2_name }}" priority="2"/>
      </failoverdomain>
    </failoverdomains>
    <resources>
      <ip address="{{ resource_vip }}" sleeptime="10"/>
      <oralistener home="{{ resource_oracle_home }}" name="{{ listener_name }}" user="{{ orcle_user }}"/>
    </resources>
    <service domain="{{ failoverdomain_name }}" exclusive="1" name="{{ service_group_name }}" recovery="relocate">
    </service>
  </rm>
</cluster>
